.Rproj.user
.Rhistory
.RData
.Ruserdata
dsuds.Rproj
.DS_Store
inst/extdata/.DS_Store
inst/extdata/.DS_Store
inst/extdata/.DS_Store
inst/extdata/.DS_Store
.httr-oauth
inst/.DS_Store
inst/extdata/.DS_Store
*.Rproj
.Rapp.history
cran-comments.md
